In [27]:
import pandas as pd 
import math as math 
import matplotlib.pyplot as plt 
import numpy as np

In [28]:
# Here are some imports we'll use through the notebook, collected here for simplicity

# For parsing dates and being able to compare
import datetime

# For fetching remote data
import urllib

# Pandas dataframes and operations
import pandas as pd

# Numpy matrix and array operations
import numpy as np

# Sqlite is a simplistic database
import sqlite3

# Data visualization
import matplotlib

#HAD ISSUES INSTALLING # Crawler for multiple web pages at once
#import scrapy
#from scrapy.crawler import CrawlerProcess
# Can use dataframe.swifter.apply() instead of dataframe.apply()
# to try to parallelize the computation!
#import swifter
# Approximate string matching, see 
#import py_stringsimjoin as ssj
#import py_stringmatching as sm
# import urllib and etree for download and parsing
#from lxml import etree

In [37]:
data = pd.read_csv('data.csv', delimiter=',') 
# DELIMITER WHAT SEPERATES THE DATA (;)

print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [38]:
print("Number of rows and columns:({}, {})".format(data.shape[0],data.shape[1]))
data.head(12131)

Number of rows and columns:(311, 39)

,rankingNoteText,nonResponderText,nonResponder,act-avg,primaryPhoto,primaryPhotoThumb,sat-avg,enrollment,city,sortName,...,displayName,schoolType,region,aliasNames,rankingType,overallRank,institutionalControl,rankingMaxPossibleScore,rankingRankStatus,primaryKey
0,NaN,NaN,False,32.0,https://www.usnews.com/img/college-photo_31291...,https://www.usnews.com/img/college-photo_31291...,1400.0,5400.0,Princeton,princetonuniversity,...,Princeton University,national-universities,NaN,NaN,national-universities,1,private,NaN,ranked,2627
1,NaN,NaN,False,32.0,https://www.usnews.com/img/college-photo_8866.jpg,https://www.usnews.com/img/college-photo_8866_...,1430.0,6710.0,Cambridge,harvarduniversity,...,Harvard University,national-universities,NaN,NaN,national-universities,2,private,NaN,ranked,2155
2,NaN,NaN,False,32.0,https://www.usnews.com/dims4/USNEWS/5b128f0/17...,https://www.usnews.com/dims4/USNEWS/196469f/17...,1450.0,5941.0,Chicago,universityofchicago,...,University of Chicago,national-universities,NaN,UChicago,national-universities,3,private,NaN,ranked,1774
3,NaN,NaN,False,32.0,https://www.usnews.com/dims4/USNEWS/60348dd/17...,https://www.usnews.com/dims4/USNEWS/1ca230f/17...,1420.0,5472.0,New Haven,yaleuniversity,...,Yale University,national-universities,NaN,NaN,national-universities,3,private,NaN,ranked,1426
4,NaN,NaN,False,32.0,https://www.usnews.com/img/college-photo_19002...,https://www.usnews.com/img/college-photo_19002...,1430.0,6113.0,New York,columbiauniversity,...,Columbia University,national-universities,NaN,NaN,national-universities,5,private,NaN,ranked,2707
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,NaN,School refused to fill out U.S. News statistic...,True,NaN,NaN,NaN,NaN,NaN,Cypress,tridentuniversityinternational,...,Trident University International,national-universities,NaN,NaN,national-universities,-2,proprietary,NaN,ur,41279
307,NaN,School refused to fill out U.S. News statistic...,True,NaN,https://www.usnews.com/img/college-photo_14624...,https://www.usnews.com/img/college-photo_14624...,NaN,NaN,Cincinnati,unioninstituteanduniversity,...,Union Institute and University,national-universities,NaN,NaN,national-universities,-2,private,NaN,ur,10923
308,NaN,School refused to fill out U.S. News statistic...,True,NaN,NaN,NaN,NaN,NaN,Phoenix,universityofphoenix,...,University of Phoenix,national-universities,NaN,NaN,national-universities,-2,proprietary,NaN,ur,209885
309,NaN,School refused to fill out U.S. News statistic...,True,NaN,NaN,NaN,NaN,NaN,Minneapolis,waldenuniversity,...,Walden University,national-universities,NaN,NaN,national-universities,-2,proprietary,NaN,ur,25042
310,NaN,NaN,False,NaN,NaN,NaN,NaN,8873.0,New Castle,wilmingtonuniversity,...,Wilmington University,national-universities,NaN,NaN,national-universities,-2,private,NaN,ur,7948

Index(['[{"rankingNoteText": null', ' "nonResponderText": null',
       ' "nonResponder": false', ' "act-avg": 32',
       ' "primaryPhoto": "https://www.usnews.com/img/college-photo_31291.jpg"',
       ' "primaryPhotoThumb": "https://www.usnews.com/img/college-photo_31291_170x170mm.jpg"',
       ' "sat-avg": 1400', ' "enrollment": 5400', ' "city": "Princeton"',
       ' "sortName": "princetonuniversity"',
       ...
       ' "displayName": "Wilmington University"',
       ' "schoolType": "national-universities".310', ' "region": null.310',
       ' "aliasNames": null.166',
       ' "rankingType": "national-universities".310', ' "overallRank": -2.10',
       ' "institutionalControl": "private".113',
       ' "rankingMaxPossibleScore": null.310', ' "rankingRankStatus": "ur".10',
       ' "primaryKey": "7948"}]'],
      dtype='object', length=12131)
Index(['[{"rankingNoteText": null', ' "nonResponderText": null',
       ' "nonResponder": false', ' "act-avg": 32',
       ' "primaryPhoto": "https://www.usnews.com/img/college-photo_31291.jpg"',
       ' "primaryPhotoThumb": "https://www.usnews.com/img/college-photo_31291_170x170mm.jpg"',
       ' "sat-avg": 1400', ' "enrollment": 5400', ' "city": "Princeton"',
       ' "sortName": "princetonuniversity"',
       ...
       ' "displayName": "Wilmington University"',
       ' "schoolType": "national-universities".310', ' "region": null.310',
       ' "aliasNames": null.166',
       ' "rankingType": "national-universities".310', ' "overallRank": -2.10',
       ' "institutionalControl": "private".113',
       ' "rankingMaxPossibleScore": null.310', ' "rankingRankStatus": "ur".10',
       ' "primaryKey": "7948"}]'],
      dtype='object', length=12131)